/*HEADING*/
.heading_1 {
  color: var(--color-neutral-600);
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 900;
  display: inline-block;
  margin: 16px 0;
}
.heading_2 {
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 900;
  display: inline-block;
  margin: 16px 0;
}
.heading_3 {
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 900;
  display: inline-block;
  margin: 16px 0;
}
.heading_4 {
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 900;
  display: inline-block;
  margin: 16px 0;
}

.heading_5 {
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: inline-block;
  margin: 16px 0;
}
.heading_6 {
  font-size: 1.125rem;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: inline-block;
  margin: 16px 0;
}
.blockquoteStyle {
  margin-bottom: 16px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/*LIST STYLE*/
.listItemStyle {
  padding-left: 16px;
  list-style-position: outside;
}
.listItemStyle > li {
  margin-bottom: 16px;
}
.listItemStyle > li > p {
  display: inline;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.2px;
}
